
$orange: #ff9c00;
$red: #ff4800;
$teal: #00a4ae;
$navy: #020d17;


/* customize ui variables */
$menu-item-selected-color: $teal;
$menu-item-primed-color: darken($teal, 15%);
$menu-item-color: darken($teal, 30%);
$menu-input-text-color: $teal;
$menu-input-bg-color: white;
$progress-holder-color: black;
$progress-bar-color: #444;
$hud-bg-color: #222;
$spinner-color: $teal;

@mixin myflexbox{
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: -moz-flex;
	-moz-flex-direction: column;
	-moz-align-items: center;
	-moz-justify-content: center;
}

/* import base css */
@import "compass/reset";
@import "compass/css3";
@import "pres/pres";
@import "components/buttons";
@import "components/iframe";
@import "components/snippets";

/* custom styles */
body{
	font-family: "Futura PT", "futura-pt", "Futura Std", impact, sans-serif;
	font-size: 2rem;
	color: white;
	background: black;
}

b, h2, h3, h4{
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	letter-spacing: .1em;
	margin-bottom: 1rem;
}

em{
	font-weight: 800;
}

h2{
	font-size: 6rem;
}

h3{
	font-size: 4rem;
}

h4{
	font-size: 2rem;	
}

a{
	color: #efefef;
	text-decoration: none;
	
	&:hover{
		color: white;
	};
}

ol{
	font-size: 3rem;
	text-transform: uppercase;
	list-style-type: decimal;
}

li{
	line-height: 1.5;
}

header{
	position: absolute;
	margin-top: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;	
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.5;
	z-index: 2;
	
	small{
		font-size: .8rem;
	}
}

footer{
	position: absolute;
	margin-bottom: 1rem;
	bottom: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;	
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
}

blockquote{
	padding: 100px;
	font-size: 4rem;
	font-weight: bold;
	color: white;
	font-style: italic;
	text-align: center;
	text-transform: uppercase;
}

em{
	font-weight: bold;
	font-style: italic;
	font-size: 0.5em;
	letter-spacing: 0.1em;
}

code{
	display: block;
	max-width: 100%;
	max-height: 75vh;
	color: white;
	line-height: 1.3em;
	font-family: 'source code pro', courier, monospace;
	font-weight: bold;
	font-size: 3rem;
	white-space: pre;
	
	span{
		color: #EDDE3E;
	}
}

.slide{
	-webkit-box-sizing: border-box;
	padding: 1rem;
}

.slide--black{
	color: white;
	background: #333;
}

.slide--video{
	video{
		position: absolute;
	}
}


.slide--iframe{
	background: transparent;
	
	h2, h4{
		z-index: 2;
	}
}

.slide--full{
	padding: 0;
	
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
        pointer-events: none;
	}
}

.slide--namecard.visible{
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	padding: 3rem;
	font-weight: bold;
	text-transform: uppercase;

	.name, .handle{
		text-transform: none;
	}
}

.fixed{
	position: fixed;
	bottom: 0;
	padding: .5em;
	z-index: 100;
	
	a{
		color: white;
	}
	
	&.right{
		right: 0;
	}
	
	&.left{
		left: 0;
	}
}

.fixed, .fixed a{
	font-family: 'avenir', serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-transform: lowercase;
}

#webgl-code code{
	font-size: 12px;
	font-weight: bold;
	overflow-y: scroll;
}

#svg-demo{
    padding: 0;
}

.threejs-code code{
	font-size: 2rem;
}

#canvas-code code, #canvas-code-2 code, #canvas-code-3 code{
    font-size: 2rem;
}

code.highlight{
	color: rgba(255, 255, 255, 0.25);
	
	em{
		color: white;
		font-size: inherit;
		font-style: inherit;
		letter-spacing: inherit;
	}
}



#resources{
	font-size: 1rem;
	
	h2{
		font-size: 3rem;
	}
	
	h3{
		font-size: 2rem;
	}
	
	a{
		margin: 0.5em;
	}
}

#warning{
	display: none;
}

.no-flexbox{
	#warning{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		color: white;
		text-align: center;
		z-index: 10000;
		
		p{
			display: block;
			margin: 100px auto;
			width: 70%;
			line-height: 1.5;
		}
	}
}

.touch{
	
	body{
		overflow: auto;
	}
	
	#preloader{
		display: none;
	}
	
	#deck{
		position: static;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	
	.slide{
		@include myflexbox;
		left: 0;
		top: 0;
		position: relative;
		opacity: 1;
		pointer-events: auto;
	}
	
	.slide--iframe{
		display: none;
	}
	
	#webgl-code code{
		width: 70vw;
		height: 50vh;
	}

}

@media screen and (max-width: 600px) {
	html{
		font-size: .3em;
	}
}

